button {
    margin: 10px;
    font-weight: 500;
}

.question {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.result {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;

}

.speakQuestionButton {
    margin-bottom: 30px;
    border: 4px solid black;
    border-radius: 40px;
    display: block;
    width: fit-content;
    height: fit-content;

    font-size: 18px;
    padding: 20px 20px;

    background-color: white;
    color: #AF03FF;
}

.answerButton{
    margin: 0 50px;
    border: none;
    border-radius: 40px;
    display: block;
    width: fit-content;
    height: fit-content;

    font-size: 24px;
    font-weight: 600;
    padding: 20px 20px;
    background-color: #FFD503;
    color: #AF03FF;
}

.nextButton {
    margin-top: 20px;
}