/* Variables */
:root {
    --font-bevellier: 'Bevellier', sans-serif;

    --color-white: white;
    --color-black: black;
    --color-primary-purple: #AF03FF;
    --color-primary-yellow: #FFD503;

    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-black);
    margin: 0px;
    padding: 20px
}

nav>svg {
    width: 40px;
    height: 40px;
}

nav>a {
    font-size: 32px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-600);
}

main {
    padding: 40px;
}

main>h2 {
    font-size: 32px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-500);
}

main>h4 {
    font-size: 24px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-400);
    padding: 20px;
}

main>h5 {
    font-size: 16px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-400);
    padding: 4px;
}

main>p {
    font-size: 20px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-400);
    padding: 20px;
}

.quizTitle {
    font-size: 24px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-300);
    padding: 4px;
}

main>a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;

    padding: 8px;
    border: 4px solid var(--color-primary-purple);
    background-color: var(--color-primary-purple);
    border-radius: 8px;

    font-size: 20px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-500);
    text-decoration: none;
    color: var(--color-primary-yellow);
}

section {
    margin-left: 20px;
}

section>a {
    padding: 8px;
    text-decoration: none;
}

a>h3 {
    padding-bottom: 4px;
    font-size: 24px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-400);
    color: var(--color-primary-purple);
}

a>p {
    font-size: 16px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-400);
    color: var(--color-primary-yellow);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1444px;
    height: 12px;

    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-black);
    margin: 0px;
    padding: 20px;
}

footer>h4 {
    font-size: 16px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-300);
}

/* challenge 1 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
    font-weight: var(--font-weight-500);
}

.question {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.answerButton,
.nextButton {
    display: block;
    margin: 0 50px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--color-primary-yellow);
    color: var(--color-primary-purple);
}

.result {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;

}

.speakQuestionButton {
    margin-bottom: 30px;
    border: none;
    display: block;

    width: 200px;
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--color-primary-yellow);
    color: var(--color-primary-purple);

}

.nextButton {
    margin-top: 20px;
}

.link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;

    padding: 8px;
    border: 4px solid var(--color-primary-purple);
    background-color: var(--color-primary-purple);
    border-radius: 8px;

    font-size: 20px;
    font-family: var(--font-bevellier);
    font-weight: var(--font-weight-500);
    text-decoration: none;
    color: var(--color-primary-yellow);
}